### Local MMC Calculation

Notes: 
- Meta-model predictions currently only exist in the validation data starting at era 888
- Updated mmc fixed numerai_tools

In [1]:
!pip install -q numerapi;

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import numpy as np
import pandas as pd
from numerapi import NumerAPI
napi = NumerAPI()

### Download Datasets

In [3]:
# napi.download_dataset("v4.2/validation_benchmark_models.parquet")
# napi.download_dataset("v4.2/validation_int8.parquet")
# napi.download_dataset("v4.2/meta_model.parquet")

### Validation Dataset

In [4]:
valid_df = pd.read_parquet("datasets/validation_int8.parquet")
print(valid_df.shape)
valid_df.head()

(2628991, 2191)

,era,data_type,feature_honoured_observational_balaamite,feature_polaroid_vadose_quinze,feature_untidy_withdrawn_bargeman,feature_genuine_kyphotic_trehala,feature_unenthralled_sportful_schoolhouse,feature_divulsive_explanatory_ideologue,feature_ichthyotic_roofed_yeshiva,feature_waggly_outlandish_carbonisation,...,target_jeremy_v4_20,target_jeremy_v4_60,target_teager_v4_20,target_teager_v4_60,target_agnes_v4_20,target_agnes_v4_60,target_claudia_v4_20,target_claudia_v4_60,target_rowan_v4_20,target_rowan_v4_60
id,,,,,,,,,,,,,,,,,,,,,
n000101811a8a843,0575,validation,2,0,4,0,3,0,4,1,...,0.50,0.50,0.75,0.75,0.50,0.50,0.75,0.50,0.5,0.50
n001e1318d5072ac,0575,validation,1,4,2,2,1,3,3,0,...,0.00,0.25,0.00,0.25,0.00,0.25,0.25,0.25,0.0,0.25
n002a9c5ab785cbb,0575,validation,1,2,2,3,1,1,3,0,...,0.50,0.75,0.50,0.75,0.50,0.50,0.75,0.75,0.5,0.75
n002ccf6d0e8c5ad,0575,validation,2,4,2,4,2,4,3,2,...,0.25,0.00,0.00,0.00,0.25,0.00,0.25,0.25,0.0,0.00
n0051ab821295c29,0575,validation,2,0,0,1,0,4,2,1,...,0.50,0.50,0.50,0.50,0.25,0.50,0.50,0.50,0.5,0.50

### Validation Benchmarks

In [5]:
validation_benchmarks = pd.read_parquet("datasets/validation_benchmark_models.parquet")
validation_benchmarks.head()

,era,v42_example_preds,v42_lgbm_teager60,v42_lgbm_teager20,v42_lgbm_agnes20,v42_lgbm_claudia20,v42_lgbm_rowan20,v41_lgbm_xerxes60,v41_lgbm_xerxes20,v41_lgbm_sam60,...,v4_lgbm_nomi60,v4_lgbm_nomi20,v4_lgbm_jerome60,v4_lgbm_jerome20,v3_example_preds,v2_example_preds,v41_example_preds,v42_rain_ensemble,v42_rain_ensemble2,v42_teager_plus_cyrus
id,,,,,,,,,,,,,,,,,,,,,
n000101811a8a843,0575,0.122215,0.226733,0.127629,0.290235,0.054966,0.170102,0.796169,0.604622,0.744535,...,0.373517,0.397876,0.805746,0.496148,0.231938,0.616698,0.353321,0.131168,0.062045,0.105143
n001e1318d5072ac,0575,0.624193,0.318551,0.493650,0.960025,0.479492,0.564647,0.367479,0.650843,0.407870,...,0.158443,0.367687,0.513429,0.499479,0.549240,0.632313,0.443056,0.569436,0.605663,0.572975
n002a9c5ab785cbb,0575,0.533417,0.895274,0.897564,0.422236,0.905892,0.934208,0.359567,0.350198,0.363523,...,0.546950,0.479284,0.746617,0.413908,0.343743,0.521549,0.450552,0.634395,0.484072,0.769727
n002ccf6d0e8c5ad,0575,0.955445,0.978139,0.989798,0.987716,0.985009,0.990839,0.956277,0.958359,0.926296,...,0.947325,0.943993,0.867583,0.890069,0.953362,0.884447,0.969602,0.977306,0.966271,0.981262
n0051ab821295c29,0575,0.075161,0.156777,0.252967,0.120341,0.280242,0.251509,0.113679,0.076411,0.073079,...,0.040808,0.078701,0.096814,0.079325,0.462211,0.078493,0.239017,0.064335,0.164689,0.126588

In [6]:
valid_df = pd.merge(valid_df, validation_benchmarks, left_index=True, right_index=True)

In [7]:
print(valid_df.shape)
valid_df.head()

(2628991, 2224)

,era_x,data_type,feature_honoured_observational_balaamite,feature_polaroid_vadose_quinze,feature_untidy_withdrawn_bargeman,feature_genuine_kyphotic_trehala,feature_unenthralled_sportful_schoolhouse,feature_divulsive_explanatory_ideologue,feature_ichthyotic_roofed_yeshiva,feature_waggly_outlandish_carbonisation,...,v4_lgbm_nomi60,v4_lgbm_nomi20,v4_lgbm_jerome60,v4_lgbm_jerome20,v3_example_preds,v2_example_preds,v41_example_preds,v42_rain_ensemble,v42_rain_ensemble2,v42_teager_plus_cyrus
id,,,,,,,,,,,,,,,,,,,,,
n000101811a8a843,0575,validation,2,0,4,0,3,0,4,1,...,0.373517,0.397876,0.805746,0.496148,0.231938,0.616698,0.353321,0.131168,0.062045,0.105143
n001e1318d5072ac,0575,validation,1,4,2,2,1,3,3,0,...,0.158443,0.367687,0.513429,0.499479,0.549240,0.632313,0.443056,0.569436,0.605663,0.572975
n002a9c5ab785cbb,0575,validation,1,2,2,3,1,1,3,0,...,0.546950,0.479284,0.746617,0.413908,0.343743,0.521549,0.450552,0.634395,0.484072,0.769727
n002ccf6d0e8c5ad,0575,validation,2,4,2,4,2,4,3,2,...,0.947325,0.943993,0.867583,0.890069,0.953362,0.884447,0.969602,0.977306,0.966271,0.981262
n0051ab821295c29,0575,validation,2,0,0,1,0,4,2,1,...,0.040808,0.078701,0.096814,0.079325,0.462211,0.078493,0.239017,0.064335,0.164689,0.126588

### Meta-Model

In [8]:
metamodel = pd.read_parquet("datasets/meta_model.parquet")
print(metamodel.shape)
metamodel.head()

(1031734, 3)

                   era   data_type  numerai_meta_model
id
n001310944632ecc  0888  validation            0.077546
n001509d6cac2951  0888  validation            0.527019
n002decc2c98be03  0888  validation            0.837788
n0030f8e1d4c53e0  0888  validation            0.960300
n00347d10b4bc00b  0888  validation            0.391436

In [9]:
valid_df = pd.merge(valid_df, metamodel, left_index=True, right_index=True)
print(valid_df.shape)
valid_df.head()

(1031734, 2227)

,era_x,data_type_x,feature_honoured_observational_balaamite,feature_polaroid_vadose_quinze,feature_untidy_withdrawn_bargeman,feature_genuine_kyphotic_trehala,feature_unenthralled_sportful_schoolhouse,feature_divulsive_explanatory_ideologue,feature_ichthyotic_roofed_yeshiva,feature_waggly_outlandish_carbonisation,...,v4_lgbm_jerome20,v3_example_preds,v2_example_preds,v41_example_preds,v42_rain_ensemble,v42_rain_ensemble2,v42_teager_plus_cyrus,era,data_type_y,numerai_meta_model
id,,,,,,,,,,,,,,,,,,,,,
n001310944632ecc,0888,validation,0,0,0,1,4,0,4,0,...,0.185915,0.681428,0.218884,0.260242,0.423137,0.431721,0.665236,0888,validation,0.077546
n001509d6cac2951,0888,validation,1,4,0,4,1,4,4,0,...,0.541553,0.477565,0.789895,0.800234,0.279555,0.217714,0.120757,0888,validation,0.527019
n002decc2c98be03,0888,validation,4,1,0,4,4,0,3,0,...,0.909676,0.566329,0.990441,0.911822,0.881194,0.757901,0.858954,0888,validation,0.837788
n0030f8e1d4c53e0,0888,validation,3,4,2,4,3,1,0,1,...,0.944401,0.972493,0.828521,0.955131,0.944986,0.943816,0.961568,0888,validation,0.960300
n00347d10b4bc00b,0888,validation,1,0,2,1,0,4,4,4,...,0.350956,0.541163,0.909871,0.584081,0.875536,0.857199,0.928209,0888,validation,0.391436

In [10]:
valid_df[['era', 'v42_teager_plus_cyrus', 'numerai_meta_model', 'target_cyrus_v4_20']].head()

,era,v42_teager_plus_cyrus,numerai_meta_model,target_cyrus_v4_20
id,,,,
n001310944632ecc,0888,0.665236,0.077546,0.25
n001509d6cac2951,0888,0.120757,0.527019,0.25
n002decc2c98be03,0888,0.858954,0.837788,0.50
n0030f8e1d4c53e0,0888,0.961568,0.960300,0.75
n00347d10b4bc00b,0888,0.928209,0.391436,0.75

In [11]:
# Target columns
target_names = [col for col in valid_df if col.startswith('target_')]
print(target_names)

['target_nomi_v4_20', 'target_nomi_v4_60', 'target_tyler_v4_20', 'target_tyler_v4_60', 'target_victor_v4_20', 'target_victor_v4_60', 'target_ralph_v4_20', 'target_ralph_v4_60', 'target_waldo_v4_20', 'target_waldo_v4_60', 'target_jerome_v4_20', 'target_jerome_v4_60', 'target_janet_v4_20', 'target_janet_v4_60', 'target_ben_v4_20', 'target_ben_v4_60', 'target_alan_v4_20', 'target_alan_v4_60', 'target_paul_v4_20', 'target_paul_v4_60', 'target_george_v4_20', 'target_george_v4_60', 'target_william_v4_20', 'target_william_v4_60', 'target_arthur_v4_20', 'target_arthur_v4_60', 'target_thomas_v4_20', 'target_thomas_v4_60', 'target_cyrus_v4_20', 'target_cyrus_v4_60', 'target_caroline_v4_20', 'target_caroline_v4_60', 'target_sam_v4_20', 'target_sam_v4_60', 'target_xerxes_v4_20', 'target_xerxes_v4_60', 'target_alpha_v4_20', 'target_alpha_v4_60', 'target_bravo_v4_20', 'target_bravo_v4_60', 'target_charlie_v4_20', 'target_charlie_v4_60', 'target_delta_v4_20', 'target_delta_v4_60', 'target_echo_v4_20', 'target_echo_v4_60', 'target_jeremy_v4_20', 'target_jeremy_v4_60', 'target_teager_v4_20', 'target_teager_v4_60', 'target_agnes_v4_20', 'target_agnes_v4_60', 'target_claudia_v4_20', 'target_claudia_v4_60', 'target_rowan_v4_20', 'target_rowan_v4_60']

In [12]:
# Prediction columns
prediction_names = [col for col in valid_df if col.startswith('v4')]
print(prediction_names)

['v42_example_preds', 'v42_lgbm_teager60', 'v42_lgbm_teager20', 'v42_lgbm_agnes20', 'v42_lgbm_claudia20', 'v42_lgbm_rowan20', 'v41_lgbm_xerxes60', 'v41_lgbm_xerxes20', 'v41_lgbm_sam60', 'v41_lgbm_sam20', 'v41_lgbm_cyrus60', 'v41_lgbm_cyrus20', 'v41_lgbm_caroline60', 'v41_lgbm_caroline20', 'v4_lgbm_waldo60', 'v4_lgbm_waldo20', 'v4_lgbm_victor60', 'v4_lgbm_victor20', 'v4_lgbm_tyler60', 'v4_lgbm_tyler20', 'v4_lgbm_ralph60', 'v4_lgbm_ralph20', 'v4_lgbm_nomi60', 'v4_lgbm_nomi20', 'v4_lgbm_jerome60', 'v4_lgbm_jerome20', 'v41_example_preds', 'v42_rain_ensemble', 'v42_rain_ensemble2', 'v42_teager_plus_cyrus']

### Contributative Correlation 

Scoring function takes in three inputs and returns a pd.Series

- **predictions**: pd.DataFrame containing era, prediction
- **meta_model**: pd.Series
- **live_targets**: pd.Series

Note: it seems multiplying the contribution by 6x makes more sense

<details>
<summary>Contributive Correlation Function in scoring.py</summary>
    
```py

def correlation_contribution(
    predictions: pd.DataFrame,
    meta_model: pd.Series,
    live_targets: pd.Series,
) -> pd.Series:
    """Calculate how much the given predictions contribute to the
    given Meta Model's correlation with the target.

    Then calculate contributive correlation by:
    1. tie-kept ranking each prediction and the meta model
    2. gaussianizing each prediction and the meta model
    3. orthogonalizing each prediction wrt the meta model
    4. dot product the orthogonalized predictions and the targets
       then normalize by the length of the target (equivalent to covariance)

    This is 100% correlated with the following formula:
    pearson_corr(
        live_targets, 0.999 * meta_model + 0.001 * predictions
    ) - pearson_corr(
        live_targets, meta_model
    )

    Arguments:
        predictions: pd.DataFrame - the predictions to evaluate
        meta_model: pd.Series - the meta model to evaluate against
        live_targets: pd.Series - the live targets to evaluate against

    Returns:
        pd.Series - the resulting contributive correlation
                    scores for each column in predictions
    """
    # filter and sort preds, mm, and targets wrt each other
    meta_model, predictions = filter_sort_index(meta_model, predictions)
    live_targets, predictions = filter_sort_index(live_targets, predictions)
    live_targets, meta_model = filter_sort_index(live_targets, meta_model)

    # rank and normalize meta model and predictions so mean=0 and std=1
    p = gaussian(tie_kept_rank(predictions)).values
    m = gaussian(tie_kept_rank(meta_model.to_frame()))[meta_model.name].values

    # orthogonalize predictions wrt meta model
    neutral_preds = orthogonalize(p, m)

    # convert target to buckets [-2, -1, 0, 1, 2]
    if np.isclose(live_targets.mean(), 0):
        live_targets -= live_targets.mean()
    if (live_targets >= 0).all() and (live_targets <= 1).all():
        live_targets = (live_targets * 4) - 2

    # multiply target and neutralized predictions
    # this is equivalent to covariance b/c mean = 0
    mmc = (live_targets @ neutral_preds) / len(live_targets)

    return pd.Series(mmc, index=predictions.columns)

```
</details>

In [14]:
import scoring

prediction_cols = ['v42_teager_plus_cyrus', 'v42_lgbm_teager20', 'v42_rain_ensemble']
target_col = 'target_cyrus_v4_20'

scores = scoring.correlation_contribution(predictions = valid_df[prediction_cols], 
                                 meta_model = valid_df['numerai_meta_model'],
                                 live_targets = valid_df[target_col])

scores

v42_teager_plus_cyrus    0.014777
v42_lgbm_teager20        0.015031
v42_rain_ensemble        0.013149
dtype: float64

In [ ]:
scores * 6